body {
    margin: 30px;
}

.form-control {
    padding-right: 34px;
}

.form-control[readonly] {
    background-color: transparent;
    cursor: pointer;
}

.toggle-button {
    background: transparent;
    border: 0;
    bottom: 0;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 0;
}
